body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;background-color: #151515;
}
/*подключение шрифтов*/
@font-face {
    font-family: Mulish;
    src: url(../fonts/Mulish/Mulish-Black.ttf);
}
@font-face {
    font-family: Mulish;
    src: url(../fonts/Mulish/Mulish-Bold.ttf);
}
@font-face {
    font-family: Mulish;
    src: url(../fonts/Mulish/Mulish-ExtraBold.ttf);
}
@font-face {
    font-family: Mulish;
    src: url(../fonts/Mulish/Mulish-ExtraLight.ttf);
}
@font-face {
    font-family: Mulish;
    src: url(../fonts/Mulish/Mulish-Light.ttf);
}
@font-face {
    font-family: Mulish;
    src: url(../fonts/Mulish/Mulish-Medium.ttf);
}
.menu1{
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 20%;
}
.logo img {

    width: 100%;
}
.links{
    display: flex;width: 40%;
    justify-content: space-between;
    align-items: center;
}
.links a{
    color: #FFF;
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.poisk{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

/*button up*/
.btn-up {
    position: fixed;
    background-color: #A8C968;
    right: 20px;
    bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    width: 60px;
    height: 50px;
    opacity: 1;
  }

  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }

  .btn-up_hide {
    display: none;
  }

  .btn-up_hiding {
    opacity: 0;
  }

  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: #A8C968;
    }
  }
  /*------*/
  .foot__cont{
    display: flex;
    width: 81.94%;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer{
    width: 100%;
    height: 60vh;
    background: var(--deep, #171A1A);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about {
    width: 32%;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.about h1{
    color: #FFF;
font-family: Raleway-black;
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
}
.about p{
    color: rgba(255, 255, 255, 0.70);

font-family: Raleway-l;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 22.1px */
text-transform: uppercase;
}
.footer__menu{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 82%;
    
}
.decoration{
    border-radius: 0px 5px;
background: var(--orange, #A8C968);
width: 25px;
height: 5px;
flex-shrink: 0;
}
.footer__menu h1{
    color: #FFF;
    font-family: Raleway-eb;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0;
}
.footer__menu a{
    text-decoration: none;
    color: #FFF;
font-family: Raleway-m;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 20px;
}
.footer__menu a:hover{
    color: #A8C968;
    text-decoration-line:underline ;
}
.social{
   width: 32%;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.social h1{
    color: #FFF;
    font-family: Raleway-eb;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0;
}

.social p{
    color: rgba(255, 255, 255, 0.70);

    font-family: Raleway-l;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 22.1px */
    text-transform: uppercase;
    margin: 40px 0 40px 0px;
}
.footer__acc{
    width: 30%;
    display: flex;
    justify-content: space-between;
}